# Build intermediates
/bin/
/build/
/src/dll/resource.rc
/src/dll/resource.res
/src/inc/injections.inc
/src/inc/symbols_g*.inc
/src/inc/iklg.data

# Local instances of binaries
/make.exe
/libiconv2.dll
/libintl3.dll
/objdump.exe
/libiconv-2.dll
/GoLink.exe
/GoRC.exe
/ducible.exe
